[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
